* {
  box-sizing: border-box;
}

body {
  margin: 0; /* Убираем отступы */
  font-family: 'Inter'; /* Основной шрифт страницы */
  background-color: rgba(255, 255, 255, 1); /* Белый фон */
}

header {
  font-family: 'Inter';
}

section {
  width: 100%; /* Растягиваем на всю ширину экрана */
  max-width: 1440px; /* Ограничиваем максимальную ширину макетом */
  margin: 0 auto; /* Центрируем */
}

a {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}

.btn {
  font-weight: 600; /* Жирность шрифта */
  font-size: 16px; /* Размер шрифта */
  color: rgba(255, 255, 255, 1); /* Белый цвет текста */
  background-color: rgba(202, 13, 24, 1); /* Красный фон */
  padding: 10px; /* Внутренние отступы */
  border: none; /* Убираем границу */
  border-radius: 8px; /* Скругляем углы */
  cursor: pointer; /* Делаем курсор в виде указателя */
  text-align: center; /* Выравниваем текст по центру */
  display: inline-block; /* Чтобы кнопка не растягивалась на всю ширину */
}

/* Изменение цвета кнопки при наведении */
.btn:hover {
  background-color: rgba(172, 10, 20, 1); /* Темно-красный цвет при наведении */
}

/* Стили для заголовков h1 */
h1 {
  font-size: 80px; /* Размер шрифта */
  font-weight: 600; /* Жирность */
  line-height: 88px; /* Межстрочный интервал */
  margin: 0; /* Убираем отступы */
}

/* Стили для заголовков h2 */
h2 {
  color: rgba(0, 0, 0, 1); /* Черный цвет текста */
  font-size: 40px; /* Размер шрифта */
  font-weight: 700; /* Жирность */
  line-height: 44px; /* Межстрочный интервал */
  letter-spacing: 0; /* Без дополнительного расстояния между буквами */
  font-family: 'Inter';
  margin: 0; /* Убираем отступы */
}

/* Стили для заголовков h3 */
h3 {
  font-size: 24px; /* Размер шрифта */
  font-weight: 600; /* Жирность */
  color: rgba(0, 0, 0, 1); /* Черный цвет текста */
}

/* Убираем отступы у списков */
ul {
  margin: 0;
}